.principalNosotros {
    margin-top: 120px;
  }

.logo-row {
    display: flex;
    gap: 30px; 
}
  
.icon {
    max-width: 5vw; 
    min-width: 40px; 
    height: auto; 
}

.tecnologias {
  font-family: 'Raleway', sans-serif;
  max-width: 10vw; 
  min-width: 40px;
}

.titulo {
  font-family: 'Raleway', sans-serif;
  max-width: 10vw; 
  min-width: 40px;
}

.iconroadmap {
  width: 35rem;
  height: auto;
  min-width: 10rem;
}

