.containerDeUsreHomejs{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65vh;
    border: solid rgb(201, 201, 201) 1px;
    border-radius: 25px;
    min-height: 40vh;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.containerDeUsreHomejsonelinea{
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45vh;
    border: solid rgb(201, 201, 201) 1px;
    border-radius: 25px;
    min-height: 25vh;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.mininavbarUserHome{
    border: none;
    border-radius: 25px 25px 0px 0px;
    width: 45vh;
    height: 6vh;
    background: linear-gradient(to right, #72366D, #B4567B);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.h6NicoUserHomejs{
    margin: 0px !important;
}
.contarinerGeneralUserHomejs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6rem;
}
.containerDechartHomejs{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 133vh;
    border: solid rgb(201, 201, 201) 1px;
    border-radius: 25px;
    min-height: 25vh;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#myChart{
    padding: 10px;
}
.pdegrafica1Nico{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: x-large;
}
.fa-money-bill-trend-up{
    margin-left: auto;
    font-size: 20px;
}
.fa-sack-dollar{
    margin-left: auto;
    font-size: 20px;
}
.fa-arrow-trend-down{
    margin-left: auto;
    font-size: 20px;
}
.fa-dollar-sign{
    margin-left: auto;
    font-size: 20px;
}
.presentationUserHome{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sumatotaldemovimientos{
    margin-top: 35px;
    text-decoration: none;
}
.sumatotaldemovimientossegundo{
    margin-top: 15px;
    text-decoration: none;
}
#sumatotaldemovimientosverde{
    color: #4BC0C0;
    text-decoration: none;
}
#sumatotaldemovimientosrojo{
    color: #FF6384;
    text-decoration: none;

}
#sumatotaldemovimientosamarillo{
    color: rgb(0, 214, 0);
    text-decoration: none;
}
#sumatotaldemovimientosnegro{
    color: black;
    text-decoration: none;
    font-size: 30px;
}